{% extends 'base.html' %} {% block title %}
<title>{{ post.title}}</title>
{% endblock %} {% block content %}
<article id="thir" class="dark:text-white mx-auto tablet:w-3/5">
  <h1 class="dark:text-white font-bold text-gray-800 text-2xl">
    {{post.title}}
  </h1>
  <p class="text-xs rounded m-2 border">{{post.created_on}}</p>
  <img
    class="post-image h-full max-h-80 float-left rounded m-2"
    src="{{post.thumbnail.url }}"
    alt="image de l'article"
  />
  <div>{{ post.body|safe}}</div>
</article>

{% endblock %}
