{% extends "base.html" %}
{% load static %}

{% block head_extra %}{% block title %} <title>blog home</title> {% endblock %}{% endblock %}
{% block content %}

<div class="grid grid-cols-1 desktop:grid-cols-3 gap-2 mx-auto w-2/3 h-1/3">
    {% for post in post %}
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:text-white dark:border-gray-700">
        <a href="{% url 'blog-detail' pk=post.pk %}">
            <img class="rounded-t-lg " src="{{ post.thumbnail.url }}" alt="Post_Thumbnail" />
        </a>
        <div class="p-2">
            <a href="{% url 'blog-detail' pk=post.pk %}">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ post.title }}</h5>
            </a>
            <p class="m-2 font-normal text-gray-700 dark:text-gray-400">{{ post.body|truncatewords:10|safe }}</p>
            <a href="{% url 'blog-detail' pk=post.pk %}" class="inline-flex items-baseline px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Read more
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}
